# Application
SERVER_HOST=localhost
SERVER_PORT=3001
NODE_ENV=DEV

# DATABASE
POSTGRE_HOST=localhost
POSTGRE_DB=imprimo2
POSTGRE_USER=pdb
POSTGRE_PASSWORD=pdb

#CRYPTO
SALT_LENGTH=16

#JWT
JWT_SECRET=00EA1DA4192A2030F9AE023DE3B3143ED647BBAB